.main-container {
    -fx-padding: 20px;
}

.menu-container {
    -fx-background-color: #f0f0f0;
    -fx-padding: 10px;
}

.menu-list-view .list-cell {
    -fx-padding: 10px;
    -fx-font-size: 16px;
}
